:root {
  --blue-5: #001B38;
  --blue-accessibility: #0352A0;
  --blue-primary: #0575E6;
  --blue-1: #4FA7FF;
  --blue-2: #85DFFF;
  --blue-3: #ECF5FF;
  --blue-4: #FBFDFF;
  --green-accessibility: #445A1B;
  --green-primary: #77B800;
  --green-1: #8FBE39;
  --green-2: #F4FBE8;
  --red-accessibility: #842924;
  --red-1: #BE3A34;
  --red-2: #FFDAD8;
  --orange-accessibility: #6A4006;
  --orange-1: #DB850A;
  --orange-2: #F4AB43;
  --orange-3: #FFE2B8;
  --black-1: #000000;
  --black-2: #091B1F;
  --font-primary: #4B4B4B;
  --gray-1: #4F5053;
  --grey-disabled: #BDBDBD;
  --grey-2: #CCCCCC;
  --grey-3: #F1F1F1;
  --breakpoint-xs: 0;
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;
  --font-family-sans-serif: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  --font-family-monospace: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
}
body {
  font-family: "Lato", sans-serif;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 3px 3px 3px 32px;
  text-decoration: none;
  font-size: 1em;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
.nav-group{
  position: fixed;
  top: 0px;
  max-height: 65px;
  width: 100%;
  display: inline-flex;
  padding: 10px;
  background-color: var(--blue-5);
  color: #f1f1f1;
}
.logo-group{
  margin: 0px auto;
}
.logo{
  max-height: 50px;
}
.title{
  font-size: 20px;
}
.headline{
  margin: 0px 5px 5px 32px;
  color: var(--blue-primary);
  font-size: 20px;
  border-bottom: 1px solid rgba(255,255,255,.5);
}
.menu-group{
  margin-bottom: 20px;
}
.content-box{
  margin-top: 65px;
}
.banner{
  min-height: 200px;
  padding: 70px 5% 5% 20%;
  color: white;
  background: linear-gradient(90deg, rgba(3,82,160,1) 0%, rgba(79,167,255,1) 100%);
}
.content{
  padding: 10px 5% 5% 20%;
}